* {
    margin: 0px;
    padding: 0px;
}
#container {
    margin: 0px auto;
    width: 950px;
}
.banner {
    background-color: black;
    color: white;
    text-align: left;
    padding: 20px 20px;
    margin-bottom: 20px;
}
.main-feed {
    width: 950px;
    display: flex;
}
.col-left {
    flex: 1;
}
.user-avatar {
    width: 250px;
    height: 400px;
    border: black solid 5px;
    margin-top: 70px;
}
.user-avatar > img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 60px;
    margin-bottom: 80px;
}
.user-avatar > a {
    margin-left: -130px;
    margin-top: 40px;
    font-size: 25px;
}
.user-avatar > h3 {
    text-align: center;
    margin-top: 80px;
    font-size: 30px;
}
.col-right {
    flex: 2;
}
.col-right > h1 {
    margin-left: 60px;
    font-size: 40px;
}
.Neil_M, .Nichole_K, .Jim_R {
    border: black 5px solid;
    width: 650px;
    height: 175px;
    margin-top: 20px;
}
.top-info {
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 30px;
    font-weight: bold;
}
.top-info > h2 {
    margin-right: 70px;
    margin-left: 30px;
    font-size: 35px;
}
#nm_likes {
    font-size: 22px;
    padding-right: 30px;
    padding-left: 200px;
}
#nk_likes {
    font-size: 22px;
    padding-right: 30px;
    padding-left: 140px;
}
#jr_likes {
    font-size: 22px;
    padding-right: 30px;
    padding-left: 210px;
}
.top-info button {
    background-color: yellow;
    border: black 2px solid;
    box-shadow: black 5px 5px;
    color: black;
    font-size: 18px;
    padding: 10px 40px;
}
.Neil_M > p {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}
.Nichole_K > p {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}
.Jim_R > p {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;

}